<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>localhost:<%= port %><%= url %></title>
  </head>
  <body>
    <h1>
      The browser is accessing
      <a href="http://localhost:<%= port %><%= url %>"
        >http://localhost:<%= port %><%= url %></a
      >.
    </h1>
  </body>
</html>
